<p   class="display-1">
  index works!
</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt saepe corporis, vel optio harum sapiente nobis, tempora minima, eum consectetur sunt voluptates! Aliquam nam suscipit sed assumenda quaerat eaque pariatur repudiandae similique facilis qui odio quam, debitis sunt ducimus quos expedita nemo, obcaecati iure maiores non magni sint! Id voluptas neque perspiciatis fugiat nam, quia magni, ipsam nobis eligendi in odio facere illo quo adipisci vel nihil sed eius deleniti aspernatur blanditiis quis provident, rem eveniet! Adipisci nesciunt quod rem cupiditate? Quo minus sint, assumenda voluptatibus id, facere soluta aliquid eaque, vitae modi obcaecati quis perspiciatis dignissimos quidem nemo vel?</p>
